body {
    overflow-y: scroll;
    max-width: max-content;
    margin:auto;
    }

#body {
    max-width: 360px;
    padding-bottom: 10px;
    margin-top: 5px;
    margin-bottom: 20px;
    padding-left: 10px;
    padding: 20px;

    
}
#title {
    padding-left: 5px;
    border-top-style: solid;
}
#menubar a {
    color: white;
    text-decoration: none;
}
#menubar {
    border-bottom-style: solid;
    border-left-style: solid;
    border-right-style: solid;
    border-width: 0.1px;
    border-color: black;
    padding: 10px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 360px;
    background-color: #f6f6f6;
}
.sortable {
    margin: 0 auto;
    padding: 10px;
  }
.sortable td {
    padding: 5px;
    outline: solid 0.5px;
}
.blogpost-text{
    text-align: justify;
}
.blogpost {
    background-color: #f6f6f6;
    margin: 5px;
    border-color: grey;
    border-style: solid;
    border-radius: 10px;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

.content{
    padding-left: 5px;
    padding-right: 5px;
}

#support {
    border-style: solid;
    border-color: black;
    text-align: center;
    width: fit-content;
    margin-top: 20px;
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 2px;
    max-width: max-content;
    margin:auto;
}
code {

    margin-top: 15px;
    margin-bottom: 15px;
	padding: 10px;
	background-color: #141414;
	color: white;
	display: block;
    border-radius: 10px;
	text-shadow: 5px 5px 5px black, -2px -2px 2px #212121;
}